// main: ../_elements.scss

.morph{
    overflow: hidden;
    width: 13rem;
    height: 13rem;
    @include object-fit(cover);
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    -webkit-animation:  morph 3.75s linear infinite;
    animation: morph 3.75s linear infinite;
    border: 0.6rem solid $color-primary-dark;

    @include responsive(XL){
        width: 21rem;
        height: 21rem;
    }
}
